<h1>Users#index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>image</th>
      <th class="text-right"><%= link_to 'ä½œæˆ', new_user_path, class: 'btn btn-success' %></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.age %></td>
    <td><%= image_tag user.image_url if user.image_url %></td>
  </tr>
  <% end %>
  </tbody>
</table>
